.sectionThree {
  background-color: #8ac3b2;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 50px; */
  height: 100vh;
}
.itemThree {
  display: flex;
  align-items: center;
}

.map {
  width: 100%;
  height: 500px;
}
.globe {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* display: flex; */
}

.contentThree {
  text-align: left;
  max-width: 500px;
  /* flex-direction: column; */
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.get-started-button {
  background-color: #000000;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
